
@import "modules/mixins";
@import "../bower_components/slick-carousel/slick/slick.css";
@import "../bower_components/slick-carousel/slick/slick-theme.css";
@import "../bower_components/fancybox/source/jquery.fancybox.css";
@import "../bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.css";

@import "modules/variables";

body {
	font-family:  'Montserrat', 'Bitter', serif;
	color: $light-font;
	margin: 0px;
	.toggle_menu{
		position: fixed;
		cursor: pointer;
		left: 30px;
		top: 23px;
		z-index: 999999;
		transition: transform 0.3s;
		.line-menu-icon{
			margin: 7px 0px 7px;
			height: 0px;
			width: 23px;
			border: 1px solid $dark-font;
			transition: opacity 0.3s, transform 0.3s;
		}
	}
	#left_panel{
		@media screen and (max-width: $small-width){
			z-index: 9999;
		}
		@include menu_generics;
		@include menu_entries_style;
		left: -$left-panel-size;
		transition: transform .3s;
		z-index: 99999;
	    /* height: 100%;
	    background-color: white;
	    left: 0;
	    opacity: 0.9;
	    transform: translate(-300px,0);
	    border-right: 1px solid $main-grey; */
	    
	}
	.level2{
		@media screen and (max-width: $small-width){
			z-index: 99999;
			opacity: 1;
		}
		@include menu_generics;
		@include menu_entries_style;
	    left: -300;
	    z-index: 9999;
	    transition: transform 0.2s ease;
	    opacity: 0.95;
	}
	.helper_wrapper{
		position: relative;
		header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height:80px;
			background-color: white;
			z-index: 999;
			transition: transform 0.3s;
			.icon{
				margin: 9px 0 0 80px;
				width: auto;
				white-space: nowrap;
				max-height: 62px;
				@media screen and (max-width: $extra-small-width){
					width: calc(65% - 55px);
				}
				img{
					vertical-align: middle;
					@media screen and (max-width: $extra-small-width){
						max-width: 100%;
					}
				}
			}
			.search_box{
				@media screen and (max-width: $searchbox-brpt-below){
					display: none;
				}
				width: calc(50% - 200px);
				top: 37px;
				margin-left: calc(20% - 170px);
				margin-top: 23px;
				input{
					width: 100%;
					line-height: 35px;
					font-family: 'Bitter';
					font-style: italic;
					color: $dark-font;
					//background-image: url('../imgs/searchicon.png');
					//background-repeat: no-repeat;
					//background-position: 5px 5px;
					//padding-left: 10px;
					background-color: $main-grey;
					padding: auto;
					border: none;
					text-align: center;
					&:focus{
						outline: none;
					}
				}
			}
			#search_icon{
				@media screen and (min-width: $searchbox-brpt){
					display: none;
				}
			}
			#search_separator{
				@media screen and (min-width: $searchbox-brpt){
					display: none;
				}
			}
			.v_separator{
				@media screen and (max-width: 670px){
					display: none;
				}
			}
			#hub_icon{
				@media screen and (max-width: 670px){
					display: block;
				}
				@include header_icons;
				margin: 28px 5% 0px;
				display: none;
			}
			#search_icon, #favourites_icon, #profile_icon, #cart_icon{
				@media screen and (max-width: 670px){
					display: none;
				}
			}
			#search_icon, #favourites_icon, #profile_icon, #cart_icon{
				@include header_icons;
			}
			#cart_icon{
				cursor: pointer;
			}
			#search_icon:hover .search-dropdown-content{
			    display: block;
			}
			#favourites_icon:hover .favourites-dropdown-content{
			    display: block;
			}
			#profile_icon:hover .profile-dropdown-content {
			    display: block;
			}
			/* #cart_icon:hover .cart-dropdown-content {
			    display: block;
			} */
			#hub_icon:hover .hub-dropdown-content{
			    display: block;
			}
			#search_icon:hover .search-arrow-down{
			    display: block;
			}
			#favourites_icon:hover .favourites-arrow-down{
			    display: block;
			}
			#profile_icon:hover .profile-arrow-down{
			    display: block;
			}
			/* #cart_icon:hover .cart-arrow-down{
			    display: block;
			} */
			#hub_icon:hover .hub-arrow-down{
			    display: block;
			}
		}
		.wrapper{
			z-index: 9;
			position: relative;
			transition: transform .3s;
			margin-top: 80px;
			main {
				background-color: white;
				.breadcrumb{
					color: $dark-font;
					font-size: 15px;
					background-color: $main-grey;
					line-height: 40px;
					padding-left: 25px;
					span{
						margin: 0 5px 0;
					}
				}
				.availability{
					font-size: 15px;
					line-height: 50px;
					background-color: white;
					ul{
						margin: 0;
						padding-left: 45px;
						.available{
							color: green;
							font-weight: bold;
							span.dark{
								font-family: 'Bitter';
								font-style: italic;
								color: $dark-font;
								margin-left: 15px;
							}
							span.light{
								font-family: 'Bitter';
								font-style: italic;
								color: $light-font;
								font-weight: normal;
							}
						}
					}
				}
				.left_col{
					@media screen and (max-width: $medium-width){
						@include medium-view-settings;
						height: auto;						
					}
					@media screen and (max-width: $small-width){
						height: auto;
					}
					width: 70%;
					height: 521px;
					position: relative;
					background-color: white;
					.product_window{
						@media screen and (min-width: $medium-width) and (max-width: 853px){
							height: 519px;
						}
						@media screen and (max-width: calc($medium-width - 1)){
							height: auto;
							width: 100%;					
						}
						@media screen and (max-width: $small-width){
							height: auto;
							width: 100%;					
						}
						height: 471px;
						.slider-container{
							@media screen and (max-width: $small-width){
								height: auto;
								width: 100%;
								margin: 0;
								display: block;
							}
							width: 40%;
							height: auto;
							margin: 0 5% 0;
							.slider-item{
								height: auto;
								text-align: center;
								.img_container{
									height: 370px;
									width: auto;
									white-space: nowrap;
									text-align: center;
									margin-top:20px;
									img{
										vertical-align: middle;
										display: inline-block;
										margin: auto;
										max-width: 100%;
										max-height: 350px;
									}
								}
								&:focus{
									outline: none;
								}
							}
							.slider-nav-container{
								position: absolute;
								bottom: -30px;
								left: 0;
								right: 0;
								z-index: 3;
								text-align: center;
								> .slider-nav{
									display: inline-block;
									.slick-dots{
										margin: 0 10px;
										position: relative;
										top: 8px;
										bottom: auto;
										width: auto;
										height: 10px;
										display: inline-block;
										li{
											position: relative;
											top: -10px;
											button{
												background-color: rgba(0,0,0,0);
											}
										}
									}
									.slick-prev, .slick-next{
										position: relative;
										left: auto;
										right: auto;
										display: inline-block;
										color: #ffffff;
									}
									.slick-prevv, .slick-nextt{
										&:hover{
											cursor: pointer;
										}
									}
									.slick-prevv{
										float: left;
									}
									.slick-nextt{
										float: right;
									}
								}
							}
						}//-------------------------------------
						.main_infos{
							@media screen and (max-width: $small-width){
								height: auto;
								width: 100%;					
								display: block;
								position: relative;
								margin-top: 60px;
								h2{
									text-align: center;
									padding: 0;
								}
							}
							position: absolute;
							width: 50%;
							ul{
								@media screen and (max-width: $small-width){
									padding: 25px 0 0 5%;
								}
								padding: 35px 0 0;
								li{
									list-style-type: none;
									span{
										color: $dark-font;
									}
								}
							}
						}
					}
					.touser_infos{
						@media screen and (max-width: $medium-width){
							position: relative;
							height: auto;
						}
						position: relative;
						height: 37px;
						margin: 0 30px;
						font-size: 11px;
						.shipping{
							vertical-align: top;
							width: 24%;
						}
						.discount{
							vertical-align: top;
							width: 54%;
						}
						.points{
							vertical-align: top;
							width: 19%;
						}
					}
				}
				.right_col{
					@media screen and (max-width: $medium-width){
						width: 100%;
						margin: 0;						
					}
					width: 30%;
					position: relative;
					text-align: center;
					background-color: $soft-grey;
					.promotional{
						margin: 20px 20px;
						color: $main-orange;
					}
					.save-compare{
						margin: 10px 20px;
						img{
							max-height: 20px;
							max-width: 20px;
						}
						.save{
							@media screen and (min-width: $medium-width) and (max-width: 853px){
								display: block;
								margin: auto;
								float: none;
								margin: 5px 0;
							}
							width: auto;
							float: left;
							margin: 0 0 10px 10px;
						}
						.compare{
							@media screen and (min-width: $medium-width) and (max-width: 853px){
								display: block;
								margin: auto;
								float: none;
								margin: 5px 0;
							}
							width: auto;
							float: right;
							margin: 0 10px 10px 0;
						}
					}
					.h_separator{
						clear: both;
					}
					.ratings{
						margin: 10px 20px;
					}
					.spare-price-buy{
						margin: 20px 20px 30px;
						.spare{
							color: $main-blue;
							width: 100%;
							span{
								font-weight: bold;
								margin-right: 5%;
								font-size: 30px;
							}
						}
						.price{
							width: 100%;
							margin: 35px 0;
							.old_price{
								font-size: 20px;
								text-decoration: line-through;
							}
							.new_price{
								font-size: 24px;
								color: $dark-font;
								.zoom_price{
									font-weight: bold;
									font-size: 60px;
								}
							}
						}
						.buy{
							font-weight: bold;
							color: white;
							background-color: $main-orange;
							cursor: pointer;
							width: 100%;
							text-align: center;
							line-height: 50px;
							&:hover{
								opacity: 0.7;
							}
						}
					}
					.addToCart{
						margin: 10px 20px;
					}
					.ship-pickup{

						font-size: 11px;
						margin: 10px 20px;
						.ship{
							@media screen and (min-width: $medium-width-hover) and (max-width: 1111px){
								display: block;
								width: 90%;
								margin: 0 auto 10px;
								float: none;
								text-align: center;
							}
							margin: 0 10px 10px;
							width: auto;
							text-align: left;
						}
						.pickup{
							@media screen and (min-width: $medium-width-hover) and (max-width: 1111px){
								display: block;
								width: 90%;
								margin: 0 auto 10px;
								float: none;
								text-align: center;
							}
							margin: 0 10px 10px;
							width: auto;
							text-align: left;
						}
					}
				}
				.container{
					text-align: center;
					background-color: $main-grey;
					clear: both;
					padding-bottom: 50px;
					.navbar{
						z-index: 99;
						width: 100%;
						height: 50px;
						text-align: center;
						clear: both;
						background-color: $soft-grey;
						font-family: 'Bitter', serif;
						.navbar_item{
							@media screen and (max-width: $medium-width){
								height: 100%;
								span{
									display: none;
								}
							}
							position: relative;
							font-style: italic;
							font-size: 14px;
							width: calc(93% / 6);
							line-height: 50px;
							cursor: pointer;
							&:focus{
								color: $main-blue;
								outline: none;
							}
							a{
								position: relative;
								display: inline;
								width: 100%;
								color: inherit;
								text-decoration: none;
								&:focus{
									color: inherit;
								}
							}
							img{
								@media screen and (max-width: $medium-width){
									top: 13px;
									max-width: 23px;
									max-height: 23px;
								}
								position: relative;
								top: 3px;
								max-width: 16px;
								max-height: 16px;
								display: inline;
							}
						}
					}
					.combo_title{
						width: auto;
						text-align: center;
						margin: 50px 5% 10px;
						.h_separator{
							padding-top: 9px;
							margin: 0;
							width: calc((100% - 252px)/2);
							height: 1px;
							border-bottom: 1px solid;
							opacity: 0.5;
						}
						span{
							width: auto;
							//margin: 0 2%;
						}
					}
					.combo_suggestions{
						position: relative;
						margin: 0 5% 50px;
						background-color: white;
						height: 250px;
						.helper {
						    display: inline-block;
						    height: auto;
						    vertical-align: middle;
						}
						.item{
							margin: 20px 3%;
							position: relative;
							vertical-align: middle;
							height: 210px;
							width: 20%;
							.img_container{
								height: 170px;
								.helper {
								    display: inline-block;
								    height: 100%;
								    vertical-align: middle;
								}
								img{
									vertical-align: middle;
									max-height: 90%;
									max-width: 90%;
									display: inline-block;
								}
							}
							.name{
								position: relative;
								width: auto;
							}
						}
						.plus{
							img{
								vertical-align: middle;
								max-width: 25px;
							}
						}
					}
					.carousel_title{
						width: auto;
						text-align: center;
						margin: 0 5% 10px;
						.h_separator{
							padding-top: 9px;
							margin: 0;
							width: calc((100% - 585px)/2);
							height: 1px;
							border-bottom: 1px solid;
							opacity: 0.5;
						}
						span{
							width: auto;
							//margin: 0 2%;
						}
					}
					.carousel_suggestions{
						margin: 0 5% 50px;
						.slider-container{
							width: 100%;
							height: auto;
							.slider-item{
								margin: 0 5px;
								height: auto;
								text-align: center;
								background-color: white;
								.item_container{
									text-align: center;
									position: relative;
									.img_container{
										height: 200px;
										width: auto;
										white-space: nowrap;
										text-align: center;
										img{
											vertical-align: middle;
											display: inline-block;
											max-width: 60%;
											max-height: 60%;
										}
									}
									.category{
										text-align: left;
										font-size: 12px;
										width: auto;
										margin-left: 20px;
									}
									.product_name{
										margin: 10px;
										height: 32px;
										margin: 20px;
										text-align: left;
									}
									.price{
										color: $dark-font;
										font-size: 20px;
										padding-bottom: 20px;
										span{
											font-size: 40px;
										}
									}
									.hidden_buy{
										position: absolute;
										bottom: -50px;
										width: 100%;
										line-height: 50px;
										color: white;
										font-weight: bold;
										background-color: $light-violet;
										z-index: 9;
										transition: transform 0.3s;
										cursor: pointer;
										&:hover{
											background-color: $light-blue;
										}
									}
									.hidden_know_more{
										position: absolute;
										bottom: -50px;
										width: 100%;
										line-height: 50px;
										color: white;
										font-weight: bold;
										background-color: $dark-violet;
										z-index: 9;
										transition: transform 0.3s;
										cursor: pointer;
										&:hover{
											background-color: $dark-blue;
										}
									}
								}
								&:focus{
									outline: none;
								}
							}
							.slider-nav-container{
								position: absolute;
								bottom: -30px;
								left: 0;
								right: 0;
								z-index: 3;
								text-align: center;
								> .slider-nav{
									display: inline-block;
									.slick-dots{
										margin: 0 10px;
										position: relative;
										top: 8px;
										bottom: auto;
										width: auto;
										height: 10px;
										display: inline-block;
										li{
											position: relative;
											top: -10px;
											button{
												background-color: rgba(0,0,0,0);
											}
										}
									}
									.slick-prev, .slick-next{
										position: relative;
										left: auto;
										right: auto;
										display: inline-block;
										color: #ffffff;
									}
									.slick-prevv, .slick-nextt{
										&:hover{
											cursor: pointer;
										}
									}
									.slick-prevv{
										float: left;
									}
									.slick-nextt{
										float: right;
									}
								}
							}
							@media screen and (max-width: $medium-width){
								@include medium-view-settings;						
							}
						}//-------------------------------------
					}
					.product_infos{
						margin: 30px 5% 0;
						background-color: white;
						.h_separator{
							margin: 0;
						}
						#description{
							@media screen and (max-width: $small-width){
								width: 100%;
								margin: 0 0 15px;
								height: auto;
								.helper{
									height: 0;
								}						
							}
							margin: 20px;
							text-align: center;
							height: 500px;
							.desc_text{
								@media screen and (max-width: $small-width){
									width: auto;
									margin-left: 5%;
									display: block;
								}
								text-align: left;
								vertical-align: middle;
								display: inline-block;
								width: 30%;
								margin: 0 5%;
								line-height: 30px;
								h2{
									font-family: 'Bitter';
									color: $main-blue;
									font-style: italic;
								}
								span{
									color: $dark-font;
									font-weight: bold;
								}
							}
							img{
								@media screen and (max-width: $small-width){
									margin: auto;
									display: block;
								}
								vertical-align: middle;
								display: inline-block;
								margin: auto;
								max-width: 50%;
								max-height: 500px;
							}
						}
						#size{
							@media screen and (max-width: $small-width){
								width: 100%;
								margin: 15px 0 0;
								height: auto;
								.helper{
									height: 0;
								}						
							}
							margin: 20px;
							text-align: center;
							height: 500px;
							.size_text{
								@media screen and (max-width: $small-width){
									width: auto;
									margin-left: 5%;
									display: block;
								}
								text-align: left;
								vertical-align: middle;
								display: inline-block;
								width: 30%;
								margin: 0 5%;
								line-height: 30px;
								h2{
									font-family: 'Bitter';
									color: $main-blue;
									font-style: italic;
								}
								span{
									color: $dark-font;
									font-weight: bold;
								}
								ul{
									padding: 0;
									li{
										list-style-type: none;
									}
								}
							}
							img{
								@media screen and (max-width: $small-width){
									margin: auto;
									display: block;
								}
								vertical-align: middle;
								display: inline-block;
								margin: auto;
								max-width: 50%;
								max-height: 500px;
							}
						}
						#accessories{
							@media screen and (max-width: $large-width){
								height: auto;
								margin-bottom: 10px;
								h2{
									display: block;
								}
							}
							text-align: left;
							line-height: 80px;
							h2{
								color: $main-blue;
								font-family: 'Bitter';
								font-style: italic;
								margin: 15px 5%;
							}
							div{
								@media screen and (max-width: $large-width){
									margin: 10px 5%;
									line-height: normal;
								}
								margin: 15px 15px;
							}
							span{
								color: $dark-font;
								font-weight: bold;
							}
						}
						#tecnical_features{
							margin: 100px 5% 0;
							padding-top: 20px;
							text-align: left;
							padding-bottom: 1px;
							h2{
								color: $main-blue;
								font-family: 'Bitter';
								font-style: italic;
							}
							.details{
								width: 100%;
								 margin: 50px 0 100px;
								.details_name{
									color: $dark-font;
									line-height: 30px;
								}
								.details_container{
									position: relative;
									width: 100%;
									height: auto;
									margin-bottom: 100px;
									overflow: hidden;
									.column_details{
										width: 48%;
										@media screen and (max-width: $medium-width){
											float: none;
											width: 100%;
										}
									}
									.left, .right{
										height: auto;
										.details_item{
											width: 100%;
											line-height: 30px;
											border-bottom: 1px solid rgba(0,0,0,0.1);
											.key{
												width: 50%;
												float: left;
											}
											.value{
												width: 40%;
												float: right;
												color: $dark-font;
												vertical-align: top;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			footer {
				background-color: $deepdark-blue;
				position: relative;
				height: auto;
				width: 100%;
				.footer_above{
					margin: 0 5%;
					padding-top: 20px;
					padding-bottom: 10px;
					.newsletter{
						@media screen and (max-width: $small-width){
							display: inline-block;
							width: 100%;
						}
						width: 35%;
						span{
							color: white;
							font-weight: bold;
							font-size: 14px;
						}
						input{
							@media screen and (max-width: $small-width){
								width: 100%;
							}
							width: 80%;
							margin: 10px 0;
							padding-left: 10px;
							line-height: 40px;
							font-family: 'Bitter';
							font-style: italic;
							color: white;
							background-color: $darker-blue;
							border: 0;
							&:focus{
								outline: none;
							}
						}
					}
					.locator{
						@media screen and (max-width: $small-width){
							display: inline-block;
							width: 100%;
						}
						width: 35%;
						span{
							color: white;
							font-weight: bold;
							font-size: 14px;
						}
						input{
							@media screen and (max-width: $small-width){
								width: 100%;
							}
							width: 80%;
							margin: 10px 0;
							padding-left: 10px;
							line-height: 40px;
							font-family: 'Bitter';
							font-style: italic;
							color: white;
							background-color: $darker-blue;
							border: 0;
							&:focus{
								outline: none;
							}
						}
					}
					.social{
						@media screen and (max-width: $small-width){
							display: inline-block;
							width: 100%;
							position: relative;
						}
						width: 25%;
						position: absolute;
						top: 20px;
						span{
							color: white;
							font-weight: bold;
							font-size: 14px;
						}
						.social_logos{
							margin: 20px 0;
							width: 100%;
							text-align: justify;
							img{
								max-height: 20px;
								//margin-right: 5%;
								display: inline-block;
								cursor: pointer;
							}
							span{
								width: 100%;
							    display: inline-block;
							    font-size: 0;
							    line-height: 0
							}
						}
					}
				}
				.footer_below{
					
				}
				
				.h_separator{
					margin: 0 5%;
				}
			}
		}
		.dark_layer{
			position: absolute;
			top: -80;
			left: 0;
			width: 100%;
			height: calc(100% + 80px);
			background-color: black;
			z-index: 999;
			transition: visibility 0.4s, opacity 0.4s, transform 0.3s;
		}
	}
	
	#right_panel{
		position: fixed;
		height: auto;
		top: 0;
		right: -$right-panel-size / 2;
		width: $right-panel-size;
		transition: transform .3s;
		z-index: 0;
		.cart_title{
			line-height: 80px;
			margin-left: 30px;
			font-weight: bold;
			span{
				color: $dark-font;
			}
			img{
				max-height: 25px;
				margin: 27px;
				cursor: pointer;
			}
		}
		.separator{
			height: 40px;
			background-color: $main-grey;
		}
		#panel_content{
			.product_container{
				position: relative;
				width: 440px;
				margin: 30px;
				.h_separator{
					margin: 10px 0;
				}
				.item_infos{
					vertical-align: top;
					margin-left: 20px;
					.price{
						position: absolute;
						bottom: 0;
						right: 0;
					}
				}
				img{
					max-width: 70px;
				}
			}
			.buttons_container{
				margin: 30px;
				width: 440px;
				color: white;
				cursor: pointer;
				.cart_button{
					text-align: center;
					width: 220px;
					line-height: 50px;
					background-color: $light-violet;
					&:hover{
						background-color: $light-blue;
					}
				}
				.checkout_button{
					text-align: center;
					width: 220px;
					line-height: 50px;
					background-color: $dark-violet;
					&:hover{
						background-color: $dark-blue;
					}
				}
			}
			.comment{
				font-style: italic;
				font-family: 'Bitter';
				margin: 20px 50px;
				text-align: center;
			}
			.advantages{
				margin: 20px 50px;
				font-size: 10px;
				text-align: left;
				color: $main-blue;
				height: auto;
				text-align: center;
				span{
					font-weight: bold;
				}
			}
		}
	}
}
.slick-slide{
	height: none;
}

.positive{
	@include adv_disv(green);
}

.negative{
	@include adv_disv(red);
}

.h_separator{
	margin: 0 30px;
	height: 1px;
	border-bottom: 1px solid;
	opacity: 0.5;
}

.v_separator{
	margin-top: 20px;
	height: 35px;
	width: 0px;
	border: 1px solid black;
	opacity: 0.2;
}

.tab_selected{
	@include tab-selected-settings(1px, solid, black);
}
.tab_unselected{
	@include tab-unselected-settings(1px, solid, black);
}

#tag_over{
	position: absolute;
	top: 0;
	left: 0;
}

.category_name{
	width: auto;
	margin: 0px 10px 0px;
	background-color: #fff;
}
.category_details{
	background-color: white;
	width: 100%;
	position: absolute;
}

.right{
	float: right;
}

.left{
	float: left;
}

.block{
	display: block;
}

.none{
	display: none;
}

.inline{
	display: inline;
}

.inline-block{
	display: inline-block;
}

.anim_open1{
	transform-origin: left;
	transform: rotate(45deg);
}
.anim_open2{
	opacity: 0;
}
.anim_open3{
	transform-origin: left;
	transform: rotate(-45deg);
}

.anim_close1{
	transform-origin: left;
	transform: rotate(0deg);
}
.anim_close2{
	opacity: 1;
}
.anim_close3{
	transform-origin: left;
	transform: rotate(0deg);
}

.open2level{
	@media screen and (max-width: $small-width){
		transform: translate(300px,0);
	}
	transform: translate(600px,0);
}

.close2level{
	@media screen and (max-width: $small-width){
		transform: translate(0px,0);
	}
	transform: translate(0px,0);
}

.liftup_buy{
	transform: translate(0,-100px);
}

.liftup_know_more{
	transform: translate(0,-50px);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.active_nav_item{
	color: $main-blue;
}

.pswp__img {
  	height: auto !important;
}

.li_hover{
	background-color: $soft-grey;
}

.default{
	cursor: default;
}

.pointer{
	cursor: pointer;
}

.scrollable{
	overflow-y: visible;
}

.not_scrollable{
	overflow-y: hidden;
}

.y_scrollable{
	overflow-y: visible;
}

.y_not_scrollable{
	overflow-y: scroll;
}

.wrapper_unactive{
	transform: translateX(0px);
}

.wrapper_active_left {
	transform: translateX(-$right-panel-size);
}

.wrapper_active_right {
	transform: translateX($left-panel-size);
}

.left_panel_unactive{
	transform: translateX(0px);
}

.left_panel_active {
	transform: translateX($left-panel-size);
}

.right_panel_unactive{
	transform: translateX(0px);
}

.right_panel_active {
	transform: translateX(-$right-panel-size / 2);
}

.left_panel_toggler_unactive{
	transform: translateX(0px);
}

.left_panel_toggler_active{
	transform: translateX(-$right-panel-size);
}

.layer_active{
	visibility: visible;
	opacity: 0.4;
}

.layer_unactive{
	visibility: hidden;
	opacity: 0;
}

//--------------------------------------------------------------------------
