<script id="cart_counter_container" class="counter_container inline-block">
	<div id="cart_counter" class="counter">
		1
	</div>
</script>

<script id="panel_content" type="x-tmpl-mustache">
	<div class="product_container">
		<img src="imgs/ipad1.jpg" class="inline-block">
		<div class="item_infos inline-block">
			<span>APPLE IPAD AIR 32GB ARGENTO</span>
			<span class="price">€ 300.00</span>
		</div>
	</div>
	<div class="h_separator"></div>
	<div class="buttons_container">
		<div class="cart_button inline-block">
			VAI AL CARRELLO
		</div><div class="checkout_button inline-block">
			VAI ALLA CASSA
		</div>
	</div>
</script>

			

<!-- <script id="cart_icon" type="text/html">
	
</script> -->