@mixin adv_disv($color){
	color: $color;
	font-style: bold;
}

@mixin medium-view-settings{
	width: 100%;
	display: block;
}

@mixin tab-selected-settings($b_width,$b_style,$b_color){
	border-bottom: 0px;
	border-left: $b_width $b_style $b_color;
	border-top: $b_width $b_style $b_color;
	border-right: $b_width $b_style $b_color;
}

@mixin tab-unselected-settings($b_width,$b_style,$b_color){
	border-bottom: $b_width $b_style $b_color;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
}

@mixin menu_generics(){
	height: 100%;
	width: $left-panel-size;
	background-color: white;
    position: fixed;
    top: 0;
}

@mixin menu_entries_style{
    ul{
    	margin: 80px 0 0 0;
    	padding-left: 0;
    	li{
    		padding-left: 15px;
	    	list-style-type: none;
	    	font-size: 13px;
	    	line-height: 35px;
	    	span{
	    		float: right;
	    		margin-right: 10px;
	    	}
	    }
	    .goback{
	    	@media screen and (max-width: $small-width){
	    		display: block;
	    	}
	    	display: none;
	    }
    }
}

@mixin header_icons(){
	margin: 28px 2% 0px;
	position: relative;
	cursor: default;
	.icon_menu{
		width: 26px;
		>img{
			max-width: 25px;
			max-height: 25px;
		}
		.search-arrow-down, .favourites-arrow-down, .profile-arrow-down, .cart-arrow-down, .hub-arrow-down {
			width: 0; 
			height: 0; 
			border-left: 13px solid transparent;
			border-right: 13px solid transparent;
			display: none;
			border-bottom: 13px solid $main-grey;
		}
		.hub-dropdown-content{
			display: none;
		    position: absolute;
		    right: -10;
		    background-color: $main-grey;
		    width: 250px;
		    height: 74px;
		    box-shadow: 20px 15px 10px 0px rgba(0,0,0,0.2);
		    z-index: 99999;
		    text-align: center;
		    color: $dark-font;
		    .hub{
		    	position: relative;
		    	width: auto;
		    	height: auto;
		    	margin: 10px;
		    	img{
		    		display: inline-block;
		    		max-width: 50px;
		    		max-height: 50px;
		    		margin: 0 5px 0;
		    		cursor: pointer;
		    	}
		    }
		}
		/* .cart-dropdown-content{
			display: none;
		    position: absolute;
		    right: -10;
		    background-color: $main-grey;
		    width: 350px;
		    height: auto;
		    box-shadow: 20px 15px 10px 0px rgba(0,0,0,0.2);
		    z-index: 99999;
		    text-align: center;
		    color: $dark-font;
		    .cart{
		    	position: relative;
		    	width: 350px;
		    	height: auto;
		    	.title{
		    		margin: 20px;
		    		color: $dark-font;
		    	}
		    	.h_separator_thin{
		    		width: 100px;
	    			height: 1px;
	    			border-bottom: 1px solid;
	    			margin: 0 auto;
		    	}
		    	.comment{
		    		font-style: italic;
		    		font-family: 'Bitter';
		    		margin: 20px 50px;
		    	}
		    	.advantages{
		    		margin: 20px 50px;
		    		font-size: 10px;
		    		text-align: left;
		    		color: $main-blue;
		    		height: auto;
		    		text-align: center;
		    		span{
		    			font-weight: bold;
		    		}
		    	}
		    }
		} */
		.profile-dropdown-content{
			display: none;
		    position: absolute;
		    right: -80;
		    background-color: $main-grey;
		    width: 651px;
		    height: auto;
		    box-shadow: 20px 15px 10px 0px rgba(0,0,0,0.2);
		    z-index: 99999;
		    text-align: center;
		    color: $dark-font;
		    .register{
		    	position: relative;
		    	width: 325px;
		    	height: auto;
		    	.title{
		    		margin: 20px;
		    		color: $dark-font;
		    	}
		    	.h_separator_thin{
		    		width: 100px;
	    			height: 1px;
	    			border-bottom: 1px solid;
	    			margin: 0 auto;
		    	}
		    	.comment{
		    		font-style: italic;
		    		font-family: 'Bitter';
		    		margin: 20px 50px;
		    	}
		    	.advantages{
		    		margin: 20px 50px;
		    		font-size: 12px;
		    		text-align: left;
		    		height: 110px;
		    	}
		    	.button{
		    		margin: 20px 50px;
		    		line-height: 50px;
		    		background-color: $dark-blue;
		    		font-weight: bold;
		    		color: white;
		    		cursor: pointer;
		    		&:hover{
		    			opacity: 0.7;
		    		}
		    	}
		    }
		    .login{
		    	position: relative;
		    	width: 325px;
		    	height: auto;
		    	border-left: 1px solid rgba(0,0,0,0.2);
		    	.title{
		    		margin: 20px;
		    	}
		    	.h_separator_thin{
		    		width: 100px;
	    			height: 1px;
	    			border-bottom: 1px solid;
	    			margin: 0 auto;
		    	}
		    	.comment{
		    		font-style: italic;
		    		font-family: 'Bitter';
		    		margin: 20px 50px;
		    	}
		    	form{
		    		margin: 10px 50px;
		    		height: 110px;
		    		input{
		    			margin: 5px 0;
		    			width: 100%;
		    			line-height: 40px;
		    			border: none;
		    			padding-left: 10px;
		    			box-sizing: border-box;
		    			font-family: 'Bitter';
		    			font-style: italic;
		    			color: $dark-font;
		    			&:focus{
		    				outline: none;
		    			}
		    		}
		    	}
		    	.button{
		    		margin: 20px 50px;
		    		line-height: 50px;
		    		background-color: $dark-blue;
		    		font-weight: bold;
		    		color: white;
		    		cursor: pointer;
		    		&:hover{
		    			opacity: 0.7;
		    		}
		    	}
		    }
		}
		.favourites-dropdown-content{
			display: none;
		    position: absolute;
		    right: -10;
		    background-color: $main-grey;
		    width: 350px;
		    height: auto;
		    box-shadow: 20px 15px 10px 0px rgba(0,0,0,0.2);
		    z-index: 99999;
		    text-align: center;
		    color: $dark-font;
		    .favourites{
		    	position: relative;
		    	width: 350px;
		    	height: auto;
		    	.title{
		    		margin: 20px;
		    		color: $dark-font;
		    	}
		    	.h_separator_thin{
		    		width: 100px;
	    			height: 1px;
	    			border-bottom: 1px solid;
	    			margin: 0 auto;
		    	}
		    	.comment{
		    		font-style: italic;
		    		font-family: 'Bitter';
		    		margin: 20px 50px;
		    	}
		    	.advantages{
		    		margin: 20px 50px;
		    		font-size: 10px;
		    		text-align: left;
		    		color: $main-blue;
		    		height: auto;
		    		text-align: center;
		    		span{
		    			font-weight: bold;
		    		}
		    	}
		    }
		}
		.search-dropdown-content{
			display: none;
		    position: absolute;
		    right: -10;
		    background-color: $main-grey;
		    width: 350px;
		    height: auto;
		    box-shadow: 20px 15px 10px 0px rgba(0,0,0,0.2);
		    z-index: 99999;
		    text-align: center;
		    color: $dark-font;
		    .search{
		    	position: relative;
		    	width: 350px;
		    	height: auto;
		    	.title{
		    		margin: 20px;
		    		color: $dark-font;
		    	}
		    	.h_separator_thin{
		    		width: 100px;
	    			height: 1px;
	    			border-bottom: 1px solid;
	    			margin: 0 auto;
		    	}
		    	.comment{
		    		font-style: italic;
		    		font-family: 'Bitter';
		    		margin: 20px 50px;
		    	}
		    	.advantages{
		    		margin: 20px 50px;
		    		font-size: 10px;
		    		text-align: left;
		    		color: $main-blue;
		    		height: auto;
		    		text-align: center;
		    		span{
		    			font-weight: bold;
		    		}
		    	}
		    	form{
		    		margin: 10px 50px;
		    		height: 55px;
		    		input{
		    			margin: 5px 0;
		    			width: 100%;
		    			line-height: 40px;
		    			border: none;
		    			padding-left: 10px;
		    			box-sizing: border-box;
		    			font-family: 'Bitter';
		    			font-style: italic;
		    			color: $dark-font;
		    			padding: auto;
		    			text-align: center;
		    			&:focus{
		    				outline: none;
		    			}
		    		}
		    	}
		    	.button{
		    		margin: 20px 50px;
		    		line-height: 50px;
		    		background-color: $dark-blue;
		    		font-weight: bold;
		    		color: white;
		    		cursor: pointer;
		    		&:hover{
		    			opacity: 0.7;
		    		}
		    	}
		    }
		}
	}
	.counter_container{
		position: relative;
		top: -7px;
		left: 4px;
		.counter{
			text-align: center;
			color: white;
			font-weight: bold;
			font-size: 13px;
			background-color: $main-orange;
			width:15px;
		    height:15px;
		    border-radius: 50%;
			padding: 4px 4px 4px;
		}
	}
}