$large-width: 950px;
$medium-width: 760px;
$medium-width-hover: 761px;
$small-width: 550px;
$extra-small-width: 480px;

$searchbox-brpt: 860px;
$searchbox-brpt-below: 859px;

$light-blue: #3082c3;
$main-blue: #0561a4;
$dark-blue: #0061af;
$darker-blue: #263355;
$deepdark-blue: #0f1d42;

$soft-grey: #f3f2f7;
$main-grey: #e6e6f0;

$main-orange: #f79534;

$light-violet: #837c8c;
$dark-violet: #50465e;

$light-font: #848188;
$dark-font: #544860;

$slick-arrow-color: black;

$left-panel-size: 300px;
$right-panel-size: 500px;